@page "/"
@using WeightMe.Model
@using WeightMe.Data

@inject DatabaseService DbService;

<h3></h3>

<ul>
    @foreach (var entry in weightEntries)
    {
        <li>@entry.EntryDate.ToShortDateString(): @entry.Weight kg</li>
    }
</ul>
<input @bind="newWeight" type="number" placeholder="New weight (kg)" />
<input @bind="newDate" type="date" />
<button @onclick="AddWeightEntry">Add Entry</button>

@code {
    private List<WeightEntry> weightEntries = new();
    private double newWeight;
    private DateTime newDate = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        weightEntries = await DbService.GetWeightEntriesAsync();
    }

    private async Task AddWeightEntry()
    {
        if (newWeight > 0)
        {
            var newEntry = new WeightEntry { EntryDate = newDate, Weight = newWeight };
            await DbService.SaveWeightEntryAsync(newEntry);
            weightEntries = await DbService.GetWeightEntriesAsync();
            newWeight = 0;
            newDate = DateTime.Now;
        }
    }
}
